.container {
  margin-top: 20px;
  min-width: 100vw;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.cont_account {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100vh;
}

.form_container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-btn span {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.btn:hover {
  background-color: #0056b3;
}

a {
  text-align: center;
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
